<div class="container">
    <span>Filter:</span>
    <div>
        <input type="radio" name="filter" value="All" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonChanged()">
        <span>{{'All Courses('+all+')'}}</span>
    </div>
    <div>
        <input type="radio" name="filter" value="Free" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonChanged()">
        <span>{{'Free Courses('+free+')'}}</span>
    </div>
    <div>
        <input type="radio" name="filter" value="Premium" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonChanged()">
        <span>{{'Premium Courses('+premium+')'}}</span>
    </div>
</div>
